<div class="jumbotron text-center">
    <h1 class="display-4">Covid-19 Tracker</h1>
    <hr class="my-4">

    <form>
        <label for="country-select"></label>
        <select name="country-select" id="c" #input (change)="updateValues(input.value)">
            <option value=""disabled selected>Select a county</option>
            <option value="{{con}}" *ngFor="let con of countryList">{{con}}</option>
        </select>
    </form>
    <hr my-4>
    <app-dashboard-card 
    [totalConfirmed]="totalConfirmed"
    [totalActive]="totalActive"
    [totalRecovered]="totalRecovered"
    [totalDeaths]="totalDeaths"></app-dashboard-card>
  </div>
