
  <div class="container bg-dark">
    <div class="row">
      <div class="card">
        <div class="card-name">ACTIVE</div>
        <div class="card-value active">{{totalActive}}</div>
      </div> 
      <div class="card">
        <div class="card-name">CONFIRMED</div>
        <div class="card-value confirmed">{{totalConfirmed}}</div>
      </div>  
      <div class="card">
        <div class="card-name">RECOVERED</div>
        <div class="card-value recovered">{{totalRecovered}}</div>
      </div>  
      <div class="card">
        <div class="card-name">DEATHS</div>
        <div class="card-value deaths">{{totalDeaths}}</div>
      </div>   
    </div>
  </div>